<a href="https://colab.research.google.com/github/pkrodev/Python_Tutorial/blob/main/Python/ep18/List_Comprehension_and_string_formatter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Episode 17")

Episode 17

In [1]:
list1 = list(range(10))

In [4]:
newlist=[l*2 for l in list1]
newestlist=[l*2 for l in list1 if l%2==0 ]
print(list1)
print(newlist)
print(newestlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 8, 12, 16]

In [6]:
args=["Andrew",30]
text = "Hi, my name is {0} and I'm {1} years old".format(args[0], args[1])
print(text)

Hi, my name is Andrew and I'm 30 years old

In [13]:
print(", ".join(["a","b","c"]))
print("Hello World".replace("Hello", "Welcome to"))
print("Just an ordinary sentence".startswith("Just"))
print("Just an ordinary sentence".endswith("SENTENCE"))
print("an" in "Just an ordinary sentence")

a, b, c
Welcome to World
True
False
True

In [24]:
list2=list(range(10))
list3=[2,4,6,8,10]
if any([l%2==0 for l in list2 ]):
  print("At least one")
if all([l%2==0 for l in list3 ]):
  print("All")
for i in enumerate(list3):
  print(i)
  print(i[0])
  print(i[1])

At least one
All
(0, 2)
0
2
(1, 4)
1
4
(2, 6)
2
6
(3, 8)
3
8
(4, 10)
4
10